@media screen and (max-width: 600px) {
    .choose-us > ul {
        display: block;
    }

    .choose-us > ul > li {
        margin-bottom: 15px;
    }

    .team-description > div {
        width: 100%;
    }

    .team-description > div > ul > li > img {
        width: 40%;
        height: 70%;
    }

    header > nav {
        display: block;
        margin: 0;
    }

    header > nav > ul > li {
        width: 100%;
        text-align: center;
    }

    header .header-title {
        padding: 0px;
    }

    .header-title h1 {
        font-size: 37px;
    }


    
}
