@import url('https://fonts.googleapis.com/css2?family=Kode+Mono&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Kode Mono", monospace;
    letter-spacing: 2px;
}

body {
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d3d3d3;
    margin: 0;
    
}

.form-container {
    background-color: #1a2e3f;
    padding: 20px;
    border-radius: 0.2em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 450px;
    text-align: center;
}

.tabs {
    display: flex;
    margin-bottom: 20px;
}

.tab {
    flex: 1;
    padding: 10px;
    cursor: pointer;
    background-color: #28d89e;
    border: none;
    outline: none;
    color: white;
    font-weight: bold;
}

.tab:hover {
    background-color: #24c08d;
    color: white;
}

h2 {
    color: #fff;
    margin-bottom: 20px;
}

.input-names {
    display: flex;
    flex: 0 1 30%;
    gap: 1em;
}

.input-names {
    margin-bottom: 15px;
}

.input-names input {
        padding: 10px;
        border: 1px solid gray;
        background-color: #2d3f4f;
        color: #fff;
}

.input-group {
margin-bottom: 15px;
}

.input-group input {
    display: inline;
    width: 100%;
    padding: 10px;
    border: 1px solid gray;
    background-color: #2d3f4f;
    color: #fff;
}

.input-group input::placeholder {
    color: #b0b0b0;
}

.submit-button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #28d89e;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #24c08d;
}
