@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    padding: 2em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
}

.container {
    display: flex;
    width: 1200px;
    padding: 2em;
    background-color: white;
    margin: 0 auto;
}

.container .img {
    flex: 0 0 50%;
}

.container .img img {
    width: 100%;
}

h3 {
    font-size: 21px;
    opacity: 90%;
    padding-bottom: 20px;
}

p {
    opacity: 80%;
    padding-bottom: 10px;
    font-size: 14px;
}

.features {
    width: 100%;
}

.features img {
    width: 50px;
    height: 50px;
}

.features .feature {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.text-info {
    padding: 5px 10px;
    font-size: 10px;
}

.text-info h4 {
    font-size: 14px;
}




